In [1]:
# Python Built-in Modules
import os
import requests

# Third Party Modules
import pandas as pd
import numpy as np
import gmaps

# Local Files
from config import gkey

# filepath for the weather data created so far
cities_filepath = os.path.join('Resources', 'world_cities.csv')

In [2]:
# View the data
city_data = pd.read_csv(cities_filepath).drop('Unnamed: 0', axis=1)
city_data

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Fallon,US,2022-07-22 19:38:57,39.4735,-118.7774,94.91,5.0,20.0,0.00,few clouds
1,Mar del plata,AR,2022-07-22 19:38:59,-38.0023,-57.5575,51.94,71.0,0.0,9.22,clear sky
2,Odweyne,SO,2022-07-22 19:39:01,9.4092,45.0640,72.97,52.0,5.0,19.15,clear sky
3,Kortkeros,RU,2022-07-22 19:39:02,61.8106,51.5806,62.60,75.0,49.0,2.19,scattered clouds
4,Valle de allende,MX,2022-07-22 19:39:04,26.9333,-105.4000,87.62,29.0,100.0,10.67,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
578,Kaitangata,NZ,2022-07-22 20:08:24,-46.2817,169.8464,36.46,92.0,15.0,3.06,few clouds
579,Garden city,US,2022-07-22 20:10:09,42.3256,-83.3310,92.03,37.0,20.0,12.66,few clouds
580,Islamkot,PK,2022-07-22 20:10:11,24.6997,70.1770,84.04,81.0,99.0,18.79,overcast clouds
581,Aswan,EG,2022-07-22 20:10:14,24.0934,32.9070,91.67,14.0,31.0,13.04,scattered clouds
582,Half moon bay,US,2022-07-22 20:10:16,37.4636,-122.4286,86.54,65.0,0.0,19.57,mist

In [3]:
# Use google maps to create a heat map with the city_data 
# configure Google maps to use the api key
gmaps.configure(api_key=gkey)

In [4]:
# locations to display the heatmap
locations = city_data[['Lat', 'Lon']]
locations

         Lat       Lon
0    39.4735 -118.7774
1   -38.0023  -57.5575
2     9.4092   45.0640
3    61.8106   51.5806
4    26.9333 -105.4000
..       ...       ...
578 -46.2817  169.8464
579  42.3256  -83.3310
580  24.6997   70.1770
581  24.0934   32.9070
582  37.4636 -122.4286

[583 rows x 2 columns]

In [5]:
# temperatures at the locations
temperatures = city_data['Max Temp']
temperatures

0      94.91
1      51.94
2      72.97
3      62.60
4      87.62
       ...
578    36.46
579    92.03
580    84.04
581    91.67
582    86.54
Name: Max Temp, Length: 583, dtype: float64

In [6]:
# Create a variable to hold the map figure to be manipulated
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
#Create and assign the heatmap layer onto the figure
heatmap_overlay = gmaps.heatmap_layer(locations, weights=temperatures, dissipating=False, max_intensity=350, point_radius=4)
fig.add_layer(heatmap_overlay)

In [8]:
# Heatmap showing the intensity of Maximum Temperature
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap showing the intensity of humidity
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
humidity_overlay = gmaps.heatmap_layer(locations, weights=city_data['Humidity'], dissipating=False, max_intensity=350, point_radius=4)
fig1.add_layer(humidity_overlay)
fig1

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap showing the intensity of cloudcover
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloud_overlay = gmaps.heatmap_layer(locations, weights=city_data['Cloudiness'], dissipating=False, max_intensity=350, point_radius=4)
fig2.add_layer(cloud_overlay)
fig2

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap showing the intensity of Wind Speeds
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
wind_overlay = gmaps.heatmap_layer(locations, weights=city_data['Wind Speed'], dissipating=False, max_intensity=60, point_radius=4)
fig3.add_layer(wind_overlay)
fig3

Figure(layout=FigureLayout(height='420px'))

In [12]:
# ask a question of the user to filter for potential vacation cities
min_temp = float(input("What is the maximum Temperature for your trip? "))
max_temp = float(input("What is the minimum Temperature for your trip? "))

What is the maximum Temperature for your trip? 75
What is the minimum Temperature for your trip? 90

In [13]:
preferred_cities = city_data[(city_data['Max Temp']>=min_temp)&(city_data['Max Temp']<=max_temp)]
preferred_cities

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Description
4,Valle de allende,MX,2022-07-22 19:39:04,26.9333,-105.4000,87.62,29.0,100.0,10.67,overcast clouds
8,Atuona,PF,2022-07-22 19:39:11,-9.8000,-139.0333,77.25,77.0,4.0,14.61,clear sky
10,Aloleng,PH,2022-07-22 19:34:32,16.1307,119.7824,81.79,80.0,4.0,4.00,clear sky
11,Avera,PF,2022-07-22 19:39:18,33.1940,-82.5271,88.38,50.0,100.0,9.04,overcast clouds
12,Hibbing,US,2022-07-22 19:35:54,47.4272,-92.9377,81.75,47.0,40.0,8.05,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
565,Bonanza,NI,2022-07-22 20:09:42,14.0289,-84.5910,75.34,97.0,100.0,1.45,overcast clouds
575,Suclayin,PH,2022-07-22 20:10:02,15.7568,121.5503,77.04,93.0,4.0,2.59,clear sky
576,Marsh harbour,BS,2022-07-22 20:05:30,26.5412,-77.0636,83.97,71.0,0.0,15.28,clear sky
580,Islamkot,PK,2022-07-22 20:10:11,24.6997,70.1770,84.04,81.0,99.0,18.79,overcast clouds
582,Half moon bay,US,2022-07-22 20:10:16,37.4636,-122.4286,86.54,65.0,0.0,19.57,mist

In [14]:
# Heatmap showing the intensity of potential vacation cities
filtered_fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_overlay = gmaps.heatmap_layer(preferred_cities[['Lat', 'Lon']], weights=preferred_cities['Max Temp'], dissipating=False, max_intensity=350, point_radius=4)
filtered_fig.add_layer(heat_overlay)
filtered_fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# find hotels in the preffered cities
api_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
          'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

In [64]:
hotel_df = preferred_cities.reset_index()[['City', 'Country', 'Lat', 'Lon', 'Max Temp']].copy()
hotel_df['Hotel Name'] = ''

# Hotels are 'lodging', within 5000 meters, location needs  to be a string  "lat, long"
payload = {'radius': 5000, 'key': gkey, 'types' : 'lodging'}  

for i in hotel_df.index:
    payload['location'] = f"{hotel_df['Lat'][i]}, {hotel_df['Lon'][i]}"
    response = requests.get(api_url, params=payload).json()
    
    if (i % 25 == 0):
        print(f'index: {i}') # Progress Tracker in the terminal
    else:
        pass
    
    try: 
        hotel_df['Hotel Name'][i] = response['results'][0]['name']
    except KeyError:
        print("No Results, skipping....")
    except IndexError:
        print("No Results, skipping....")

        
hotel_df

index: 0

C:\Users\Nick\AppData\Local\Temp\ipykernel_32412\4008108661.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'][i] = response['results'][0]['name']

No Results, skipping....
index: 25
index: 50
No Results, skipping....
No Results, skipping....
index: 75
No Results, skipping....
No Results, skipping....
index: 100
index: 125
No Results, skipping....
index: 150
index: 175
No Results, skipping....

,City,Country,Lat,Lon,Max Temp,Hotel Name
0,Valle de allende,MX,26.9333,-105.4000,87.62,Hotel Meson de San Bartolome
1,Atuona,PF,-9.8000,-139.0333,77.25,Villa Enata
2,Aloleng,PH,16.1307,119.7824,81.79,Steve Walden and Emma Sison-Walden Residence
3,Avera,PF,33.1940,-82.5271,88.38,
4,Hibbing,US,47.4272,-92.9377,81.75,Mitchell-Tappan House - Carriage House Rentals
...,...,...,...,...,...,...
188,Bonanza,NI,14.0289,-84.5910,75.34,Edificio Administrativo HEMCO
189,Suclayin,PH,15.7568,121.5503,77.04,Costa Pacifica
190,Marsh harbour,BS,26.5412,-77.0636,83.97,Abaco Beach Resort
191,Islamkot,PK,24.6997,70.1770,84.04,Haji Hotel
192,Half moon bay,US,37.4636,-122.4286,86.54,"The Ritz-Carlton, Half Moon Bay"

In [65]:
# drop the cities that returned no Hotel results
hotel_df['Hotel Name'] = hotel_df['Hotel Name'].replace('', np.nan)
hotel_df = hotel_df.dropna().reset_index().drop('index', axis=1)
hotel_df

,City,Country,Lat,Lon,Max Temp,Hotel Name
0,Valle de allende,MX,26.9333,-105.4000,87.62,Hotel Meson de San Bartolome
1,Atuona,PF,-9.8000,-139.0333,77.25,Villa Enata
2,Aloleng,PH,16.1307,119.7824,81.79,Steve Walden and Emma Sison-Walden Residence
3,Hibbing,US,47.4272,-92.9377,81.75,Mitchell-Tappan House - Carriage House Rentals
4,Lorengau,PG,-2.0226,147.2712,81.37,Lorengau Harbourside Hotel
...,...,...,...,...,...,...
181,Bonanza,NI,14.0289,-84.5910,75.34,Edificio Administrativo HEMCO
182,Suclayin,PH,15.7568,121.5503,77.04,Costa Pacifica
183,Marsh harbour,BS,26.5412,-77.0636,83.97,Abaco Beach Resort
184,Islamkot,PK,24.6997,70.1770,84.04,Haji Hotel
185,Half moon bay,US,37.4636,-122.4286,86.54,"The Ritz-Carlton, Half Moon Bay"

In [83]:
# Create a heatmap for the Max Temp's with the new hotel_df
hotel_fig = gmaps.figure(center=(30,31), zoom_level=1.5)
temp_heatmap = gmaps.heatmap_layer(hotel_df[['Lat','Lon']], weights=hotel_df['Max Temp'], dissipating=False, max_intensity=350, point_radius=4)
hotel_fig.add_layer(temp_heatmap)

# add city markers and format them to have pop-up info: city name, country, hotel name, and Max temp.
# Note: Google Maps' pop-up markers use html coded dictionaries: 
#  "term" : "definition"  ==  dt: dd  ==  <dt></dt> <dd></dd> 

info_box_template = """
<dl>
<dt>Hotel Name</dt>   <dd>{Hotel Name}</dd>
<dt>City</dt>   <dd>{City}</dd>
<dt>Country</dt>   <dd>{Country}</dd>
<dt>Maximum Temperature</dt>   <dd>{Max Temp}</dd>
</dl>
"""

# list comprehension that formats the city pop-up marker, added .format() here for iteration
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# adding city markers to the map
city_marker = gmaps.marker_layer(hotel_df[['Lat', 'Lon']], info_box_content=hotel_info)
hotel_fig.add_layer(city_marker)
hotel_fig

Figure(layout=FigureLayout(height='420px'))