In [72]:
import requests
import random
import numpy as np
import pandas as pd
from config import weather_api_key
import datetime as dt

In [2]:
# Other local versions of this global variable will be lats, lat, lts, parallel
latitude = np.random.uniform(-90,90, size=1500)
latitude

array([ 81.50032253, -19.96780419,  21.95265736, ..., -60.38273618,
       -64.39962106, -45.73724616])

In [3]:
# Other local versions of this global variable will be long, lon, lng, meridian, 
longitude = np.random.uniform(-180,180, size=1500)
longitude

array([-139.57976311, -125.26040004,   12.34516775, ...,  -23.55328532,
        115.0244516 ,  -92.88051024])

In [4]:
lat_long = list(zip(latitude, longitude))
lat_long[0]

(81.50032252555545, -139.57976310572855)

In [21]:
from citipy import citipy
cities = set()
for lat, long in lat_long:
    c = citipy.nearest_city(lat, long)
    if c not in cities:
        cities.add(c)#, c.country_code))
cities = list(cities)
cities[0]

In [13]:
params= {'APPID':weather_api_key,
        'q': 'Boston',
        'units':'Imperial'}

url = f"https://api.openweathermap.org/data/2.5/weather"#?lat={lat_long[0][0]}&lon={lat_long[0][1]}&appid={weather_api_key}"
response = requests.get(url, params).json()

In [34]:
# pd.DataFrame has: City, Country, Date, lat, lon, Max Temp, Humidity, Cloudiness, Wind Speed
city_dict = []

# use the cities list to start the dataframe
for place in cities:
    p = dict()
    p['City'] = place.city_name.capitalize()
    p['Country'] = place.country_code.upper()
    city_dict.append(p)    
    
city_df = pd.DataFrame(city_dict)
city_df['Date'] = ''
city_df['Lat'] = ''
city_df['Lon'] = ''
city_df['Max Temp'] = ''
city_df['Humidity'] = ''
city_df['Cloudiness'] = ''
city_df['Wind Speed'] = ''
city_df['Description'] = ''
city_df

,City,Country,Date,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Singapore,SG,,,,,,,,
1,Saint george,BM,,,,,,,,
2,Meyungs,PW,,,,,,,,
3,Svetlogorsk,RU,,,,,,,,
4,Montego bay,JM,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...
621,Vostok,RU,,,,,,,,
622,Oussouye,SN,,,,,,,,
623,Dalbandin,PK,,,,,,,,
624,Saldanha,ZA,,,,,,,,
625,Baruun-urt,MN,,,,,,,,

In [58]:
# retieve the weather information for each city and fill in the data

# for index, row in city_df.itterrows:
#     print(index, row)
    
# Date = dt.datetime.utcfromtimestamp(response['dt']).strftime('%Y-%m-%d %H:%M:%S') 
# Lat = response['coord']['lat']
# Lon = response['coord']['lon']
# Temp Max = response['main']['temp_max']
# Humidity = response['main']['humidity']
# Cloudines = 
# Wind Speed = response['wind']['speed']
# Description = response['weather'][0]['description']

1658427315

'2022-07-21 18:15:15'